<div *ngIf="!isLogged" class="hero"></div>

<section *ngIf="!isLogged" class="proyectos" id="sobre_nosotros">
    <h1 class="titulo_seccion">Sobre nosotros</h1>
		<article class="sobre_nosotros">
			<p class="proyecto__descripcion">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit 
            anim id est laborum.
            </p>
        </article>
</section>

<section *ngIf="!isLogged" class="proyectos" id="publicaciones">
    <div class="row">
      <div class="col">
        <img src="images/publicacion.jpg" alt="" class="proyecto__imagen">
      </div>
      <div class="col">

        <article>
          
          <h1 class="proyecto__titulo">Sube publicaciones sobre tus videojuegos favoritos</h1>
          <p class="proyecto__descripcion">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.</p>

        </article>
      </div>
	</div>
</section>

  <section *ngIf="!isLogged"class="proyectos" id="videojuegos">
    <div class="row">
      <div class="col">

        <article>
          
          <h1 class="proyecto__titulo">Mira diferentes videojuegos</h1>
          <p class="proyecto__descripcion">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.</p>

        </article>
      </div>
      <div class="col">

        <img src="images/videojuego.jpg" alt="" class="proyecto__imagen">
      </div>
      
		</div>
</section>

  <section *ngIf="!isLogged" class="proyectos" id="ofertas">
   
    <div class="row">
      <div class="col">

			  <img src="images/oferta.png" alt="" class="proyecto__imagen">
      </div>
      <div class="col">

        <article>
          
          <h1 class="proyecto__titulo">Mira ofertas de tus videojuegos favoritos</h1>
          <p align="center" class="proyecto__descripcion">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.</p>

        </article>
      </div>
		</div>
</section>
 
<h1>Bienvenido</h1>
