<fieldset>
    <legend align="center">  Imagenes</legend>
    <div class="row">
        <form [formGroup]="fgValidator">
            <div class="row">
                <div class="col s6 m6">
                    <div class="file-field input-field">
                        <div class="btn">
                            <span>Image</span>
                            <input type="file" (change)="onFileSelect($event)">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">

                        </div>
                    </div>
                    <input type="hidden" formControlName="path" />
                </div>
                <div class="input-field col s3">
                    <input formControlName="order" id="Order" type="number" class="validate">
                    <label for="Order">Order</label>
                </div>
                
                <div class="input-field col s3">
                    <button class="btn waves-effect waves-light" (click)="UploadImageFn()" type="button" name="action">Upload
                    <i class="material-icons right">send</i>
                  </button>
                </div>
            </div>
            

        </form>
    </div>
    <div class="row">
        <div *ngFor="let i of videojuegoImagenesList"class="col s4 m6">
            <div class="card">
                <div class="card-image">
                    <img src="http://localhost:3000/files/2/{{i.id}} " class = "videojuegoImage">
                    <span class="card-title order">Order: {{i.order}}</span>
                </div>
               
                <div class="card-action">
                    <button class="btn waves-effect waves-light" (click)="RemoveConfirmation(i.id)" type="button" name="action">Remove
                        <i class="material-icons right">delete</i>
                      </button>
                </div>
            </div>
        </div>
    </div>
</fieldset>


<div id="removeConfirmationModal" class="modal">
    <div class="modal-content">
        <h4>Eliminar Confirmation </h4>
        <p> ¿Estás seguro de borrar este videojuego?</p>
    </div>
    <div class="modal-footer">
        <button (click)="RemoveImage()" class="btn  red waves-effect waves-light" type="button" name="action">Confirmar
            <i class="material-icons right">delete</i>
        </button>

        <a class="modal-close  waves-effect waves-green btn-flat">cerrar</a>
    </div>
</div>