<fieldset>
    <legend align= "center">Formulario de registro</legend>
    <div class="row">
        <form [formGroup]="fgValidator" class="col s12" id="reg-form">
        <div class="row">
            <div class="input-field col    s6">
            <i class="material-icons prefix">account_circle</i>
            <input id="primer_nombre" formControlName="primer_nombre" type="text">
            <label for="primer_nombre">Primer nombre</label>
            <div class="warning-validator" *ngIf="fgv.primer_nombre.errors && (fgv.primer_nombre.dirty || fgv.primer_nombre.touched)">
                <strong *ngIf="fgv.primer_nombre.errors.required">
                    *Requerido
                </strong>
                <strong *ngIf="fgv.primer_nombre.errors.minlength">
                    *Minimo {{namesMinLength}} de longitud
                </strong>
            </div>
            </div>
            <div class="input-field col    s6">
            <i class="material-icons prefix">account_circle</i>
            <input id="segundo_nombre" formControlName="segundo_nombre" type="text" >
            <label for="segundo_nombre">Segundo nombre</label>
            <div class="warning-validator" *ngIf="fgv.segundo_nombre.errors && (fgv.segundo_nombre.dirty || fgv.segundo_nombre.touched)">
                <strong *ngIf="fgv.segundo_nombre.errors.required">
                    *Requerido
                </strong>
                <strong *ngIf="fgv.segundo_nombre.errors.minlength">
                    *Minimo {{namesMinLength}} caracteres de longitud
                </strong>
            </div>
            </div>
        </div>
        <div class="row">
            <div class="input-field col    s6">
            <i class="material-icons prefix">account_circle</i>
            <input id="primer_apellido" formControlName="primer_apellido" type="text" >
            <label for="primer_apellido">Primer apellido</label>
            <div class="warning-validator" *ngIf="fgv.primer_apellido.errors && (fgv.primer_apellido.dirty || fgv.primer_apellido.touched)">
                <strong *ngIf="fgv.primer_apellido.errors.required">
                    *Requerido
                </strong>
                <strong *ngIf="fgv.primer_apellido.errors.minlength">
                    *Minimo {{namesMinLength}} caracteres de longitud
                </strong>
            </div>
            </div>
            <div class="input-field col    s6">
            <i class="material-icons prefix">account_circle</i>
            <input id="segundo_apellido" formControlName=segundo_apellido type="text" >
            <label for="segundo_apellido">Segundo apellido</label>
            <div class="warning-validator" *ngIf="fgv.segundo_apellido.errors && (fgv.segundo_apellido.dirty || fgv.segundo_apellido.touched)">
                <strong *ngIf="fgv.segundo_apellido.errors.required">
                    *Requerido
                </strong>
                <strong *ngIf="fgv.segundo_apellido.errors.minlength">
                    *Minimo {{namesMinLength}} caracteres de longitud
                </strong>
            </div>
            </div>
        </div>
        <div class="row">
            <div class="input-field col   s4">
            <i class="material-icons prefix">local_phone</i>
            <input id="celular" formControlName="celular" type="text" >
            <label for="celular">Celular</label>
            <div class="warning-validator" *ngIf="fgv.celular.errors && (fgv.celular.dirty || fgv.celular.touched)">
                <strong *ngIf="fgv.celular.errors.required">
                    *Requerido
                </strong>
                <strong *ngIf="fgv.celular.errors.minlength">
                    *Minimo {{celphoneMinLength}} caracteres de longitud
                </strong>
                <strong *ngIf="fgv.celular.errors.maxlength">
                    *Maximo 14 caracteres de longitud
                </strong>
            </div>
            </div>
            <div class="input-field col   s8">
            <i class="material-icons prefix">email</i>
            <input id="email" formControlName="email" type="email" >
            <label for="email">Email</label>
            <div class="warning-validator" *ngIf="fgv.email.errors && (fgv.email.dirty || fgv.email.touched)">
                <strong *ngIf="fgv.email.errors.required">
                    *Requerido
                </strong>
                <strong *ngIf="fgv.email.errors.email">
                    *Formato incorrecto de email
                </strong>
            </div>
            </div>
        </div>
        <div class="row">
            <div class="input-field col    s6">
            <i class="material-icons prefix">location_city</i>
            <input id="pais" formControlName="pais" type="text" >
            <label for="pais">Pais</label>
            <div class="warning-validator" *ngIf="fgv.pais.errors && (fgv.pais.dirty || fgv.pais.touched)">
                <strong *ngIf="fgv.pais.errors.required">
                    *Requerido
                </strong>
                <strong *ngIf="fgv.pais.errors.minlength">
                    *Minimo {{placesMinLength}} caracteres de longitud
                </strong>
            </div>
            </div>
            <div class="input-field col    s6">
            <i class="material-icons prefix">location_on</i>
            <input id="ciudad" formControlName="ciudad" type="text" >
            <label for="ciudad">Ciudad</label>
            <div class="warning-validator" *ngIf="fgv.ciudad.errors && (fgv.ciudad.dirty || fgv.ciudad.touched)">
                <strong *ngIf="fgv.ciudad.errors.required">
                    *Requerido
                </strong>
                <strong *ngIf="fgv.ciudad.errors.minlength">
                    *Minimo {{placesMinLength}} caracteres de longitud
                </strong>
            </div>
            </div>
        </div>
        <div class="row">
            <div class="input-field col    s2">
            <i class="material-icons prefix">wc</i>
            <input id="genero" formControlName="genero" type="text" >
            <label for="genero">Genero</label>
            <div class="warning-validator" *ngIf="fgv.genero.errors && (fgv.genero.dirty || fgv.genero.touched)">
                <strong *ngIf="fgv.genero.errors.required">
                    *Requerido
                </strong>
                <strong *ngIf="fgv.genero.errors.minlength">
                    *Solo {{generoLength}} caracter (F/M)
                </strong>
                <strong *ngIf="fgv.genero.errors.maxlength">
                    *Solo {{generoLength}} caracter (F/M)
                </strong>
            </div>
            </div>
            <div class="input-field col   s2">
            <input id="fecha_nacimiento" formControlName="fecha_nacimiento" type="date" >
            <label for="fecha_nacimiento">Fecha Nacimiento</label>
            <div class="warning-validator" *ngIf="fgv.fecha_nacimiento.errors && (fgv.fecha_nacimiento.dirty || fgv.fecha_nacimiento.touched)">
                <strong *ngIf="fgv.fecha_nacimiento.errors.required">
                    *Requerido
                </strong>
            </div>
            </div>
            <div class="input-field col s8">
            <i class="material-icons prefix">insert_emoticon</i>
            <input id="intereses" formControlName="intereses" type="text" >
            <label for="intereses">Intereses</label>
            <div class="warning-validator" *ngIf="fgv.intereses.errors && (fgv.intereses.dirty || fgv.intereses.touched)">
                <strong *ngIf="fgv.intereses.errors.required">
                    *Requerido
                </strong>
                <strong *ngIf="fgv.intereses.errors.minlength">
                    *Minimo {{interesesMinLength}} de longitud
                </strong>
            </div>
            </div>
        </div>
        <!--
        <div class="row">
            <div class="input-field col s6">
            <i class="material-icons prefix">photo_camera</i>
            <input id="foto_perfil" type="text" >
            <label for="foto_perfil">Foto perfil</label>
            </div>
        </div>-->
        <div class="row">
            <!--
            <div class="input-field col    s6">
            <div class="gender-male">
                <input class="with-gap" name="gender" type="radio" id="male" required />
                <label for="male">Male</label>
            </div>
            <div class="gender-female">
                <input class="with-gap" name="gender" type="radio" id="female" required />
                <label for="female">Female</label>
            </div>
            </div>
            -->
            <div class="input-field col    s6">
            <button (click)="UsuarioRegisterFn()" class="btn btn-large btn-register waves-effect waves-light" type="button" name="action">Registrarse
                <i class="material-icons right">done</i>
            </button>
            </div>
        </div>
        </form>
    </div>
</fieldset>
