<div class="container-fluid bg-success" style = "width: 800px"> 
<fieldset>
    <legend align= "center">Formulario de registro</legend>
    <div class="row">
        <form [formGroup]="fgValidator" class="col s12" id="reg-form">
        <div class="row">
            <div class="input-field col    s6">
            <i class="material-icons prefix">account_circle</i>
            <input id="primer_nombre" formControlName="primer_nombre" type="text">
            <label for="primer_nombre">Primer nombre</label>
            <div class="warning-validator" *ngIf="fgv.primer_nombre.errors && (fgv.primer_nombre.dirty || fgv.primer_nombre.touched)">
                <strong *ngIf="fgv.primer_nombre.errors.required">
                    *Requerido
                </strong>
                <strong *ngIf="fgv.primer_nombre.errors.minlength">
                    *Minimo {{namesMinLength}} de longitud
                </strong>
            </div>
            </div>
            <div class="input-field col    s6">
            <i class="material-icons prefix">account_circle</i>
            <input id="segundo_nombre" formControlName="segundo_nombre" type="text" >
            <label for="segundo_nombre">Segundo nombre</label>
            <div class="warning-validator" *ngIf="fgv.segundo_nombre.errors && (fgv.segundo_nombre.dirty || fgv.segundo_nombre.touched)">
                <strong *ngIf="fgv.segundo_nombre.errors.required">
                    *Requerido
                </strong>
                <strong *ngIf="fgv.segundo_nombre.errors.minlength">
                    *Minimo {{namesMinLength}} caracteres de longitud
                </strong>
            </div>
            </div>
        </div>
        <div class="row">
            <div class="input-field col    s6">
            <i class="material-icons prefix">account_circle</i>
            <input id="primer_apellido" formControlName="primer_apellido" type="text" >
            <label for="primer_apellido">Primer apellido</label>
            <div class="warning-validator" *ngIf="fgv.primer_apellido.errors && (fgv.primer_apellido.dirty || fgv.primer_apellido.touched)">
                <strong *ngIf="fgv.primer_apellido.errors.required">
                    *Requerido
                </strong>
                <strong *ngIf="fgv.primer_apellido.errors.minlength">
                    *Minimo {{namesMinLength}} caracteres de longitud
                </strong>
            </div>
            </div>
            <div class="input-field col    s6">
            <i class="material-icons prefix">account_circle</i>
            <input id="segundo_apellido" formControlName="segundo_apellido" type="text" >
            <label for="segundo_apellido">Segundo apellido</label>
            <div class="warning-validator" *ngIf="fgv.segundo_apellido.errors && (fgv.segundo_apellido.dirty || fgv.segundo_apellido.touched)">
                <strong *ngIf="fgv.segundo_apellido.errors.required">
                    *Requerido
                </strong>
                <strong *ngIf="fgv.segundo_apellido.errors.minlength">
                    *Minimo {{namesMinLength}} caracteres de longitud
                </strong>
            </div>
            </div>
        </div>
        <div class="row">
            <div class="input-field col   s4">
            <i class="material-icons prefix">local_phone</i>
            <input id="celular" formControlName="celular" type="text" >
            <label for="celular">Celular</label>
            <div class="warning-validator" *ngIf="fgv.celular.errors && (fgv.celular.dirty || fgv.celular.touched)">
                <strong *ngIf="fgv.celular.errors.required">
                    *Requerido
                </strong>
                <strong *ngIf="fgv.celular.errors.minlength">
                    *Minimo {{celphoneMinLength}} caracteres de longitud
                </strong>
                <strong *ngIf="fgv.celular.errors.maxlength">
                    *Maximo 14 caracteres de longitud
                </strong>
            </div>
            </div>
            <div class="input-field col   s8">
            <i class="material-icons prefix">email</i>
            <input id="email" formControlName="email" type="email" >
            <label for="email">Email</label>
            <div class="warning-validator" *ngIf="fgv.email.errors && (fgv.email.dirty || fgv.email.touched)">
                <strong *ngIf="fgv.email.errors.required">
                    *Requerido
                </strong>
                <strong *ngIf="fgv.email.errors.email">
                    *Formato incorrecto de email
                </strong>
            </div>
            </div>
        </div>
        <div class="row">
            <div class="input-field col    s6">
            <i class="material-icons prefix">location_city</i>
            <input id="pais" formControlName="pais" type="text" >
            <label for="pais">Pais</label>
            <div class="warning-validator" *ngIf="fgv.pais.errors && (fgv.pais.dirty || fgv.pais.touched)">
                <strong *ngIf="fgv.pais.errors.required">
                    *Requerido
                </strong>
                <strong *ngIf="fgv.pais.errors.minlength">
                    *Minimo {{placesMinLength}} caracteres de longitud
                </strong>
            </div>
            </div>
            <div class="input-field col    s6">
            <i class="material-icons prefix">location_on</i>
            <input id="ciudad" formControlName="ciudad" type="text" >
            <label for="ciudad">Ciudad</label>
            <div class="warning-validator" *ngIf="fgv.ciudad.errors && (fgv.ciudad.dirty || fgv.ciudad.touched)">
                <strong *ngIf="fgv.ciudad.errors.required">
                    *Requerido
                </strong>
                <strong *ngIf="fgv.ciudad.errors.minlength">
                    *Minimo {{placesMinLength}} caracteres de longitud
                </strong>
            </div>
            </div>
        </div>
        <div class="row">
            <div class="input-field col   s3">
            <i class="material-icons prefix">date_range</i>
            <input id="fecha_nacimiento" formControlName="fecha_nacimiento" type="text" >
            <label for="fecha_nacimiento">Fecha Nacimiento</label>
            <div class="warning-validator" *ngIf="fgv.fecha_nacimiento.errors && (fgv.fecha_nacimiento.dirty || fgv.fecha_nacimiento.touched)">
                <strong *ngIf="fgv.fecha_nacimiento.errors.required">
                    *Requerido
                </strong>
            </div>
            </div>
            <div class="input-field col s1">
            <i class="material-icons prefix">wc</i>
            </div>
            <!--<i class="material-icons prefix">wc</i>-->
            <div class="input-field col s2">
                <select>
                <option value="" disabled selected>Seleccione</option>
                <option value="F">Femenino</option>
                <option value="M">Masculino</option>
                </select>
                <label>Genero</label>
            </div>            
            <div class="input-field col s6">
            <i class="material-icons prefix">insert_emoticon</i>
            <input id="intereses" formControlName="intereses" type="text" >
            <label for="intereses">Intereses</label>
            <div class="warning-validator" *ngIf="fgv.intereses.errors && (fgv.intereses.dirty || fgv.intereses.touched)">
                <strong *ngIf="fgv.intereses.errors.required">
                    *Requerido
                </strong><strong *ngIf="fgv.intereses.errors.minlength">
                    *Minimo {{interesesMinLength}} de longitud
                </strong>
            </div>
            </div>
        </div>
        <div class="row">
            <div class="row">
            <div class="div_recaptcha">
            <!-- 
                the SITE_KEY is the sitekey from your admin console.
                use form control for validation
            -->
                <re-captcha (resolved)="resolved($event)" 
                    formControlName="recaptchaReactive" 
                    siteKey="6LfsJr4ZAAAAAJ6JjIRtmk-z_ENAnKZJgLEEd2ZP" id="recaptcha">  
                </re-captcha>
            </div>
        </div>
        </div>
        <!--
        <div class="row">
            <div class="input-field col s6">
            <i class="material-icons prefix">photo_camera</i>
            <input id="foto_perfil" type="text" >
            <label for="foto_perfil">Foto perfil</label>
            </div>
        </div>-->
        <div class="row">
            <div class="input-field col    s6">
            <button (click)="UsuarioRegisterFn()" class="btn btn-large btn-register waves-effect waves-light" type="button" name="action">Registrarse
                <i class="material-icons right">done</i>
            </button>
            </div>
        </div>
        </form>
    </div>
</fieldset>

