<fieldset>
    <legend align= "center">Formulario de registro</legend>
    <div class="row">
        <form class="col s12" id="reg-form">
        <div class="row">
            <div class="input-field col    s6">
            <input id="primer_nombre" type="text">
            <label for="primer_nombre">Primer nombre</label>
            </div>
            <div class="input-field col    s6">
            <input id="segundo_nombre" type="text" >
            <label for="segundo_nombre">Segundo nombre</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col    s6">
            <input id="primer_apellido" type="text" >
            <label for="primer_apellido">Primer apellido</label>
            </div>
            <div class="input-field col    s6">
            <input id="segundo_apellido" type="text" >
            <label for="segundo_apellido">Segundo apellido</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col   s4">
            <input id="celular" type="text" >
            <label for="celular">Celular</label>
            </div>
            <div class="input-field col   s8">
            <input id="email" type="email" >
            <label for="email">Email</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col    s6">
            <input id="pais" type="text" >
            <label for="pais">Pais</label>
            </div>
            <div class="input-field col    s6">
            <input id="ciudad" type="text" >
            <label for="ciudad">Ciudad</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col   s3">
            <input id="fecha_nacimiento" type="date" >
            <label for="fecha_nacimiento">Fecha Nacimiento</label>
            </div>
            <!--<div class="input-field col    s6">
            <input id="last_name" type="text" >
            <label for="last_name">Genero</label>
            </div>-->
            <div class="input-field col s6">
            <div class="gender-male">
                <input class="with-gap" name="gender" type="radio" id="masculino" required />
                <label for="maculino">Masculino</label>
            </div>
            <div class="gender-female">
                <input class="with-gap" name="gender" type="radio" id="femenino" required />
                <label for="femenino">Femenino</label>
            </div>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
            <input id="email" type="email" >
            <label for="email">Intereses</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
            <input id="password" type="password" class="validate" minlength="6" required>
            <label for="password">Foto perfil</label>
            </div>
        </div>
        <div class="row">
            <!--
            <div class="input-field col    s6">
            <div class="gender-male">
                <input class="with-gap" name="gender" type="radio" id="male" required />
                <label for="male">Male</label>
            </div>
            <div class="gender-female">
                <input class="with-gap" name="gender" type="radio" id="female" required />
                <label for="female">Female</label>
            </div>
            </div>
            -->
            <div class="input-field col    s6">
            <button class="btn btn-large btn-register waves-effect waves-light" type="submit" name="action">Register
                <i class="material-icons right">done</i>
            </button>
            </div>
        </div>
        </form>
    </div>
</fieldset>