
 <a  routerLink = "/parameters/consola-creation" class="waves-effect waves-light btn"><i class="material-icons left">add</i>Añadir</a>
 <br/>
 <br />
<table class="highlight responsive-table">
    <thead>
        <tr>
            <td>
                Codigo
            </td>
            <td>
                Nombre
            </td>
            <td>
                Editar
            </td>
            <td>
                Eliminar
            </td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let r of recordList | paginate: { itemsPerPage: itemsPageAmount, currentPage: page } ">
            <td>
                {{r.codigo}}
            </td>
            <td>
                {{r.nombre}}
            </td>
            <td>
                
        <a  routerLink = "/parameters/consola-edition/{{r.id}}"  routerLinkActive="router-link-active" class="waves-effect waves-light btn"><i class="material-icons left">edit</i>Editar</a>
            </td>
            <td>
                <button (click) = "RemoveConfirmation(r.id)" class="btn  red waves-effect waves-light" type="button" name="action">Eliminar
                    <i class="material-icons right">delete</i>
                  </button>
            </td>
        </tr>
    </tbody>
</table>
<pagination-controls (pageChange)="page = $event"></pagination-controls>
<ngx-spinner></ngx-spinner>

  <!-- Modal Structure -->
  <div id="removeConfirmationModal" class="modal">
    <div class="modal-content">
      <h4>Eliminar Confirmation </h4>
      <p > ¿Estás seguro de borrar esta consola?</p>
    </div>
    <div class="modal-footer">
        <button (click) = "RemoveRecord()" class="btn  red waves-effect waves-light" type="button" name="action">Confirmar
            <i class="material-icons right">delete</i>
          </button>
      
      <a class="modal-close  waves-effect waves-green btn-flat">Cerrar</a>
    </div>
  </div>