
<fieldset>
    <legend align= "center">Editar Categoría</legend>
<div class="row">
    <form class="col s12" [formGroup] = "fgValidator">
        <input type="hidden" formControlName="id" /> 
             <div class="row">
        <div class="input-field col s3 ">
          <input  id="codigo" formControlName="codigo"  type="text" class="validate">
          <label  class= "active"for="codigo"> Codigo</label>
        </div>
        <div class="input-field col s9">
          <input id="nombre" formControlName="nombre" type="text" class="validate">
          <label class= "active"  for="nombre">Nombre Categoría</label>
        </div>
      </div>
      
      <div class="row">
        <div class="input-field col s12">
            
  <button class="btn waves-effect waves-light" type="button" (click)="EditRecordFn()" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
  &nbsp;&nbsp;
            <a routerLink="/parameters/categoria-list"  class="waves-effect red waves-light btn"><i class="material-icons right">cancel</i>Cancelar</a>
            </div>
      </div>
    </form>
  </div>
</fieldset>