<div class="container-fluid bg-success" > 
<fieldset>
    <legend align= "center">Editar videojuego</legend>
<div class="row">
    <form class="col s12" [formGroup] = "fgValidator">
        <input type="hidden" formControlName="id" /> 
             <div class="row">
              <div class="input-field col s9">
                <select class="browser-default" formControlName="categoriaId">
                  <option *ngFor="let category of categoriaList" value="{{category.id}}">{{category.nombre}}</option>
              </select>
                <label class="active">categoria</label>
              </div>
        <div class="input-field col s9">
          <input id="nombre" formControlName="nombre" type="text" class="validate">
          <label class= "active"  for="nombre">Nombre videojuego</label>
        </div>
      </div>
      
      <div class="row">
        <div class="input-field col s12">
            
  <button class="btn waves-effect waves-light" type="button" (click)="EditRecordFn()" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
  &nbsp;&nbsp;
            <a routerLink="/parameters/videojuego-list"  class="waves-effect red waves-light btn"><i class="material-icons right">cancel</i>Cancelar</a>
            </div>
      </div>
    </form>
  </div>
</fieldset>