/* You can add global styles to this file, and also import other style files */

h2{
    color:red;
}

.warning-validator strong{
  color: red;
}

legend{
  font-size: 1.5em;
  color : #545454;
  margin: 0px 20px 0px 20px;
}

